
INSERT INTO ada VALUES
(NULL,'1511052_11','تاریخ احزاب و مطبوعات سیاسی درایران در دوره قاجار',2,30,'مختلط','اساتید گروه آموزشی','ada','d3/13:30-15:30','','','','','08:00-10:00','1404/03/28'),
(NULL,'1511053_11','تاریخ تحولات سیاسی - اجتماعی دوره های افشاروزندیه',2,30,'مختلط','اساتید گروه آموزشی','ada','d1/15:30-17:30','','','','','08:00-10:00','1404/04/04'),
(NULL,'1511183_11','تقویم و روش های زمان نگاری',2,30,'مختلط','اساتید گروه آموزشی','ada','d3/10:00-12:00','','','','','08:00-10:00','1404/03/27'),
(NULL,'1511191_11','تاریخ تشیع 1',2,30,'مختلط','اساتید گروه آموزشی','ada','d2/13:30-15:30','','','','','10:00-12:00','1404/03/28');