<html><head></head><body data-new-gr-c-s-check-loaded="14.1220.0" data-gr-ext-installed=""><div>

    <link rel="stylesheet" type="text/css" href="/_styles/Forms.css">
    <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111">
        <tbody><tr class="DTitle">
            <td>واحد يا مرکز        </td>
            <td>واحد يا مرکز        </td>
            <td>دانشكده درس         </td>
            <td>دانشكده درس         </td>
            <td>گروه آموزشي         </td>
            <td>گروه آموزشي         </td>
            <td>شماره و گروه درس</td>
            <td>نام درس</td>
            <td>کل</td>
            <td>ع</td>
            <td>ظر فيت</td>
            <td>ثبت نام شده</td>
            <td>تعداد ليست انتظار</td>
            <td>جنسيت</td>
            <td>نام استاد</td>
            <td>زمان و مكان ارائه/ امتحان</td>
            <td>توضيحات</td>
            <td>امكان اخذ درس توسط ساير مراكز</td>
            <td>حذف اضطراري</td>
        </tr>
        <tr>
            <td>2</td>
            <td>مركز كرج</td>
            <td>12</td>
            <td>علوم رياضي و كامپيوتر</td>
            <td>11</td>
            <td>رياضي</td>
            <td>1211003_01</td>
            <td>رياضي عمومي 1</td>
            <td>4</td>
            <td>0</td>
            <td>45</td>
            <td>5</td>
            <td>0</td>
            <td>مختلط</td>
            <td>الياسي نيره<br></td>
            <td>درس(ت): يك شنبه   10:00-12:00 مکان: 109- طبقه همكف سمت راست<br> درس(ت): دوشنبه    08:00-10:00 مکان: 109- طبقه همكف سمت راست<br> حل تمرين(ت): دوشنبه    13:30-15:30 مکان: 109- طبقه همكف سمت راست<br>  امتحان(1404.04.07)  ساعت : 08:00-10:00<br> </td>
            <td></td>
            <td>خير</td>
            <td>امكان دارد</td>
        </tr>
        <tr>
            <td>2</td>
            <td>مركز كرج</td>
            <td>12</td>
            <td>علوم رياضي و كامپيوتر</td>
            <td>11</td>
            <td>رياضي</td>
            <td>1211005_01</td>
            <td>رياضي عمومي 3</td>
            <td>4</td>
            <td>0</td>
            <td>50</td>
            <td>24</td>
            <td>0</td>
            <td>مختلط</td>
            <td>زباندان غلامرضا<br></td>
            <td>درس(ت): يك شنبه   08:00-10:00 مکان: 208-طبقه اول سمت چپ<br> درس(ت): يك شنبه   10:00-12:00 مکان: 208-طبقه اول سمت چپ<br> حل تمرين(ت): سه شنبه   10:00-12:00 مکان: 208-طبقه اول سمت چپ<br>  امتحان(1404.03.28)  ساعت : 10:00-12:00<br> </td>
            <td></td>
            <td>خير</td>
            <td>امكان دارد</td>
        </tr>
        <tr>
            <td>2</td>
            <td>مركز كرج</td>
            <td>12</td>
            <td>علوم رياضي و كامپيوتر</td>
            <td>11</td>
            <td>رياضي</td>
            <td>1211016_11</td>
            <td>نظريه جبري گراف</td>
            <td>4</td>
            <td>0</td>
            <td>10</td>
            <td>2</td>
            <td>0</td>
            <td>مختلط</td>
            <td>سالاريان محمدرضا<br></td>
            <td>درس(ت): شنبه      13:30-15:30<br> درس(ت): دوشنبه    08:00-10:00<br>  امتحان(1404.04.08)  ساعت : 08:30-12:00<br> </td>
            <td></td>
            <td>بله</td>
            <td>امكان دارد</td>
        </tr>
        <tr>
            <td>2</td>
            <td>مركز كرج</td>
            <td>14</td>
            <td>روانشناسي و علوم تربيتي</td>
            <td>13</td>
            <td>علم اطلاعات و دانش شناسي</td>
            <td>1413088_01</td>
            <td>آمار مقدماتي در علم اطلاعات و دانش شناسي</td>
            <td>2</td>
            <td>1</td>
            <td>30</td>
            <td>12</td>
            <td>0</td>
            <td>مختلط</td>
            <td>حاصلي داود<br></td>
            <td>درس(ت): يك شنبه   13:30-15:30<br>  امتحان(1404.04.09)  ساعت : 13:30-15:30<br> </td>
            <td></td>
            <td>خير</td>
            <td>امكان دارد</td>
        </tr>
        <tr>
            <td>2</td>
            <td>مركز كرج</td>
            <td>12</td>
            <td>علوم رياضي و كامپيوتر</td>
            <td>12</td>
            <td>علوم كامپيوتر</td>
            <td>1212107_55</td>
            <td>داده كاوي(كارشناسي ارشد)</td>
            <td>3</td>
            <td>0</td>
            <td>10</td>
            <td>7</td>
            <td>0</td>
            <td>مختلط</td>
            <td>برنا كيوان<br></td>
            <td>درس(ت): شنبه      10:00-12:00 مکان: 106- طبقه همكف سمت چپ<br> درس(ت): دوشنبه    08:00-09:00 مکان: 106- طبقه همكف سمت چپ<br> حل تمرين(ت): دوشنبه    09:00-10:00 مکان: 106- طبقه همكف سمت چپ<br>  امتحان(1404.04.07)  ساعت : 10:00-12:00<br> </td>
            <td></td>
            <td>خير</td>
            <td>امكان دارد</td>
        </tr>
        <tr>
            <td>2</td>
            <td>مركز كرج</td>
            <td>21</td>
            <td>فيزيك</td>
            <td>12</td>
            <td>اتمي و مولكولي</td>
            <td>2112210_18</td>
            <td>آزمايشگاه  فيزيكپايه 2</td>
            <td>1</td>
            <td>1</td>
            <td>8</td>
            <td>2</td>
            <td>0</td>
            <td>مختلط</td>
            <td>اساتيد گروه آموزشي  <br></td>
            <td>درس(ع): يك شنبه   13:30-15:30<br> </td>
            <td></td>
            <td>خير</td>
            <td>امكان ندارد</td>
        </tr>
        </tbody></table>
</div></body></html>