.form {
  padding: 5px 20px;
}

.form > * {
  margin-top: 36px;
}

.form > :last-child, .form > :first-child  {
  margin-top: 5px;
}

.whiteButton, .whiteButton:hover {
  background-color: #ffffff;
  color: #222222;
}

.errorMessage {
  color: red;
}