[
  {
    "course_id": "1511052_11",
    "name": "تاریخ احزاب و مطبوعات سیاسی درایران در دوره قاجار",
    "weight": "2",
    "capacity": "30",
    "gender": "مختلط",
    "teacher": "اساتید گروه آموزشی",
    "faculty": "ada",
    "time1": "d3/13:30-15:30",
    "time2": "",
    "time3": "",
    "time4": "",
    "time5": "",
    "time_exam": "08:00-10:00",
    "date_exam": "1404/03/28"
  },
  {
    "course_id": "1511053_11",
    "name": "تاریخ تحولات سیاسی - اجتماعی دوره های افشاروزندیه",
    "weight": "2",
    "capacity": "30",
    "gender": "مختلط",
    "teacher": "اساتید گروه آموزشی",
    "faculty": "ada",
    "time1": "d1/15:30-17:30",
    "time2": "",
    "time3": "",
    "time4": "",
    "time5": "",
    "time_exam": "08:00-10:00",
    "date_exam": "1404/04/04"
  },
  {
    "course_id": "1511183_11",
    "name": "تقویم و روش های زمان نگاری",
    "weight": "2",
    "capacity": "30",
    "gender": "مختلط",
    "teacher": "اساتید گروه آموزشی",
    "faculty": "ada",
    "time1": "d3/10:00-12:00",
    "time2": "",
    "time3": "",
    "time4": "",
    "time5": "",
    "time_exam": "08:00-10:00",
    "date_exam": "1404/03/27"
  },
  {
    "course_id": "1511191_11",
    "name": "تاریخ تشیع 1",
    "weight": "2",
    "capacity": "30",
    "gender": "مختلط",
    "teacher": "اساتید گروه آموزشی",
    "faculty": "ada",
    "time1": "d2/13:30-15:30",
    "time2": "",
    "time3": "",
    "time4": "",
    "time5": "",
    "time_exam": "10:00-12:00",
    "date_exam": "1404/03/28"
  }
]